body{
    background-color: #f3f4ff;
    font-family: "Montserrat", sans-serif;
}

.template{
    height: 100vh; /* For 100% screen height */
    min-width:  100vw; 
}

/* left section label */
#figure_label{
    color: #006BB8;
}

#right{
    background-color: #BCE3FF;
    text-align: center;
    border-radius: 75px 0% 0% 75px;
}

#auth_title{
    color: #4B4B4B;
}
